/* Animations */
@keyframes shadow_show {
    from {box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);}
    to {box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);}
}

@keyframes shadow_hide {
    from {box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);}
    to {box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);}
}


/* Global */
.circle {
    border: 1px solid black;
    border-radius: 100%;
}

.spaced {
    padding: 30px;
}

body {
    font-family: Helvetica, Arial;
}

h1 {
    font-weight: bolder;
    font-size: 3em;
    margin: 0px;
}

.soft_shadow {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.medium_shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


/* Page Header */
.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
}

.navbar > a {
    text-decoration: none;
    color: black;

    padding: 20px;
    padding-top: 11px;
    padding-bottom: 10px;
    border-right: 1px solid black;
}

.navbar > .end {
    border-width: 0px;
}

.logo {
    height: 50px;
    width: 50px;
}

.page_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}


/* Home Page */
.banner {
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("https://picsum.photos/seed/picsum/1080/1920");
    background-size: cover;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    color: white;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* About Me */
.about_me_page {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;

    background-image: url("https://picsum.photos/seed/epicpls/1080/140");
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.profile_pic {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.about_me_page > .subtitle {
    display: flex;
    height: 100px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

    background-color: white;
    align-items: center;
    justify-content: center;
}

.about_me_page > .subtitle > p {
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);;
}


/* My Projects */
.my_projects_page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 30px;

    animation-name: shadow_hide;
    animation-duration: 0.5s;
    color: black;
    text-decoration: none;
}

.project:hover {
    animation-name: shadow_show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.project_image {
    width: 100%;
    height: 60%;
    border-radius: 8px 8px 0px 0px;
    background-size: cover;
}

.project_label {
    display: flex;
    justify-content: center;
}

.i0 {
    background-image: url("https://picsum.photos/seed/epicpls0/300/200");
}

.i1 {
    background-image: url("https://picsum.photos/seed/epicpls1/300/200");
}


/* Message Me */
.message_me_page {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    width: 100%;
}

.len {
    width: 100%;
}

.he {
    height: 30px;
}

#submit {
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.table_parent {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    width: 49%;
}

#regist_box {
    display: none;
    flex-direction: column;
    width: 49%;
    height: calc(30px*2 + 15.5em);
    margin-left: 20px;
    border-radius: 8px;
}

.sp {
    margin: 10px;
    margin-bottom: 0px;
    font-size: larger;
}


/* Responsive Layouting */
@media only screen and (max-width:425px) {
    /* Global */
    h1 {font-size: 2em;}
    h2 {font-size: 10px;}
    p {font-size: 0.7em;}
    .spaced {padding: 5px;}

    /* Header */
    .page_header {flex-direction: column;}
    .navbar > a {padding-left: 5px; padding-right: 5px;}
    .logo {margin-bottom: 5px;}

    /* About Me*/
    .about_me_page > .subtitle > p {margin-left: 2px; margin-right: 2px;}
    .about_me_page {justify-content: space-between;}
    
    /* My Projects and Form */
    .project {width: 130px; margin-right: 10px;}
    .table_parent {width: 250px;}
    .message_me_page {flex-direction: column;}
    .sp {font-size: 15px;}
    #regist_box {width: 100%; margin-left: 0px; margin-top: 20px;}
}